---
title: A page for me
layout: base.njk

---

    <div class="container">
      <h1>This is a page for you</h1>
      <div class="vibe">You are great!</div>
      <div class="love">❤️</div>
      <ul>
      {% for article in news.articles %}
        <li>{{ article.title }}</li>
        {% endfor %}
      </ul>
    </div>
    <script src="/js/vibes.js"></script>